
@using WebSiteBanSach.Models;
@model List<ChuDe>

<div class="chude">
    <h1>Chủ Đề</h1>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoChuDe",new { @MaChuDe=item.MaChuDe})" class="chude__link">@item.TenChuDe</a>
    }
    <a href="@Url.Action("DanhMucChuDe")" class="chude__link">Chủ đề khác...</a>
</div>
@*<a href="#" class="button">Khoa học</a>

    <a href="#" class="button button-submit">Công nghệ thông tin</a>

    <a href="#" class="button">Tình yêu <span class="notification">22</span></a>

    <a href="#" class="button button-submit">Xã hội</a>

    <a href="#" class="button">Nhân văn <span class="notification">22</span></a>
*@
