div#ToanTrang {
    position:relative;
}
.DangKyDangNhap{
    float:right;
    margin-top:-1%;
}
.DangKyDangNhap a:hover {
    text-decoration:none;
    color:green;
}

#divDanhMuc{
    height:30px;
}

.navMenu {
    float:right;
    margin-right:10%;
}
.navMenu li {
    display: inline;
    padding: 20px;
    padding-top: 19px;
    padding-bottom: 22px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
    .navMenu li:hover {
        background-color: #5fc1bd;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
    }
    .navMenu a:hover {
        text-decoration: none;

    }

#txtTimKiem {
    float:left;
    margin-left: 5%;
}
#txtTimKiem input{
    height:0;
    margin-right:5px;
    border-radius:10px;
}
#divHinhAnhTimKiem button {
    max-height: 32px;
    padding: 10px;
    background-color: #14a19a;
}
#divHinhAnhTimKiem img{
    width:30px;
    height:30px;
}

#slider{
    float:right;
    width:800px;
    height:360px;
}
#slider img {
    width:800px !important;
    height:360px !important;
}
#divMenuLeft{
    float:left;
}
#divLeft{
    width:30%;
    float:left;
}
#divLeft .item{
    width:100%;
}
#divRight{
    width:70%;
    float:right;
}
.search{
    display: inline-flex;
}
#divHinhAnhTimKiem button:hover{
    border-radius:10px;
    background-color:#fff;
    transition: 500ms all;
}
#divHinhAnhTimKiem button:hover .icon{
    background-image: url(../../HinhAnh/search_hover.svg);
}
#divHinhAnhTimKiem .icon {
    height: 18px;
    width: 18px;
    background-size: cover;
    background-image: url(../../HinhAnh/search.svg);
    transition: 500ms all;
    background-position: center;
    /* margin-top: 0%; */
    margin-bottom: 60% !important;
    /* margin-bottom: 20%; */
}
div#divHinhAnhTimKiem {
    max-height: 32px;
}
.DangKyDangNhap a{
    margin-right:5px;
}
.DangKyDangNhap a:hover {
     color: #14a19a
}
.activity img {
    height:50px;
    width:50px;
    object-fit: cover;
}
.flex{
    display:flex;
}
a:hover{
    text-decoration:none;

}
a.button {
        background-color: #14a19a;
        margin-right:10px;
 }
a.button:hover {
    background: #5fc1bd !important;
    
}
.rightSide {
    margin-left: 30px;
    background-color: #fff;
}
.itemNXB a {
    margin-left: 10px;
}
.itemNXB:hover {
    color: #5fc1bd;
    transition: 500ms all;
}

.detail{
    margin:10px;
    display:flex;
}
#HinhAnh{
    margin-right:20px;
}
#HinhAnh > img{
    height: 200px;
    width: 200px;
}
.margin-b{
    margin-bottom:10px;
}
#btnGioHang {
    width: 100%;
    height: 30px;
    background: #14a19a;
    border:none;
    color:#fff;
    transition: 500ms all ease-in;
    cursor:pointer;
}
    #btnGioHang:hover {
        background: #5fc1bd
    }
.item {
    width: 70%;
}
.text{
    margin:10px;
}
#divBody > h2{
    margin: 10px;
}
.productGroup{
    display:flex;
    width:100%;
    flex-grow: 3;
}
div#SanPham {
    margin: 10px;
    padding: 20px;
    transition: 500ms all ease-in;
}
div#ThongTin {
    text-align: center;
}
div#SanPham:hover {
    box-shadow: -2px -2px 4px 0px rgb(225,225,225), 2px 2px 4px 0px rgb(225,225,225);
}